<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="C:\Users\Betacom\Desktop\Prove_mie\University\dotnet-academy-main\University\data"/>
		
		<add key="FileUniversityJson" value="University.json"/>
		
		<!--<add key="FileExams" value="C:\Users\Betacom\Desktop\Prove_mie\University\dotnet-academy-main\University\data\exams_100.csv"/>
		<add key="FileFaculties" value="C:\Users\Betacom\Desktop\Prove_mie\University\dotnet-academy-main\University\data\faculties_100.csv"/>
		<add key="FileProfessors" value="C:\Users\Betacom\Desktop\Prove_mie\University\dotnet-academy-main\University\data\professors_100.csv"/>
		<add key="FileStudents" value="C:\Users\Betacom\Desktop\Prove_mie\University\dotnet-academy-main\University\data\students_100.csv"/>-->
		
	</appSettings>
</configuration>