<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="SeparationLine" value= "--------------------------------------------------------------------------------"/>
		<add key ="FilePath" value= "C:\Users\franc\Desktop\dotnet-academy\University"/>
		<add key ="FileStudentsJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\students.json"/>
		<add key ="FileProfessorsJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\professors.json"/>
		<add key ="FileEmployeeJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\employee.json"/>
		<add key ="FileExamsJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\exams.json"/>
		<add key ="FileCoursesJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\courses.json"/>
		<add key ="FileFacultiesJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\json\faculties.json"/>
		<add key ="FileStudents" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\students_100.csv"/>
		<add key ="FileProfessors" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\professors_100.csv"/>
		<add key ="FileFaculties" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\faculties_100.csv"/>
		<add key ="FileExams" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\exams_100.csv"/>
		<add key ="FileCourses" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\courses_100.csv"/>
		<add key ="FileEmployee" value= "C:\Users\franc\Desktop\dotnet-academy\University\data\csv\employee_100.csv"/>

	</appSettings>
</configuration>