<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key ="SeparationLine" value= "--------------------------------------------------------------------------------"/>
		<add key ="FilePath" value= "C:\Users\franc\Desktop\dotnet-academy\University"/>
		<add key ="FileStudentsJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\students.json"/>
		<add key ="FileProfessorJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\professors.json"/>
		<add key ="FileEmployeeJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\employee.json"/>
		<add key ="FileExamsJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\exams.json"/>
		<add key ="FileCoursesJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\courses.json"/>
		<add key ="FileFacultiesJson" value= "C:\Users\franc\Desktop\dotnet-academy\University\faculties.json"/>
		<add key ="FileStudents" value= "C:\Users\franc\Desktop\dotnet-academy\University\students_100.csv"/>
		<add key ="FileProfessors" value= "C:\Users\franc\Desktop\dotnet-academy\University\professors_100.csv"/>
		<add key ="FileFaculties" value= "C:\Users\franc\Desktop\dotnet-academy\University\faculties_100.csv"/>
		<add key ="FileExams" value= "C:\Users\franc\Desktop\dotnet-academy\University\exams_100.csv"/>
		<add key ="FileCourses" value= "C:\Users\franc\Desktop\dotnet-academy\University\courses_100.csv"/>
		<add key ="FileUniversityJson" value= "C:\Users\franc\Desktop\dotnet-academy\University"/>
		
	</appSettings>
</configuration>